@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #003459;
  --secondary-color: #00171f;
  --tertiary-color: #09131c;
  --accent-color: #1b4760;
  --off-white: #e5e8e9;
  --off-white-darker: #aeaeae;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cabin";
  background: var(--primary-color);
  color: var(--off-white);
}

p {
  color: #dddddd;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.logo,
.page-links {
  display: flex;
}

#tentacles {
  height: 2em;
  width: auto;
  margin-right: 5px;
}

.header-text {
  font-size: 1em;
}

.logo {
  text-decoration: none;
  color: inherit;
  transition: all 100ms ease-in-out;
}

.game-nav-link,
.stats-nav-link {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  transition: all 100ms ease-in-out;
}

.game-nav-link:hover,
.stats-nav-link:hover {
  color: var(--off-white-darker);
}

.hero-section {
  background: linear-gradient(var(--primary-color), var(--accent-color));
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  padding: 80px 0 80px 0;
}

.hero-header {
  font-size: 2em;
}

.stats-section {
  padding: 10px 20px 30px 20px;
  background-color: var(--secondary-color);
  margin-left: -10px;
  margin-right: -10px;
}

.stats-container {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.stats-container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.stats-card {
  background: linear-gradient(var(--primary-color), #00253f);
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

.games-section {
  text-align: center;
  padding: 40px 0 40px 0;
  background: linear-gradient(var(--accent-color), var(--primary-color));
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-img {
  width: 100%;
  border-radius: 5px;
}

.game-card {
  background-color: var(--tertiary-color);
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
  transition: all 100ms ease-in-out;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: lightblue 0px 3px 8px;
}

#search-input {
  border: none;
  padding: 1%;
  margin: 0.5%;
  border-radius: 7px;
  font-size: 14px;
  width: 20em;
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 0.5%;
  border-radius: 7px;
  transition: all 100ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background: var(--off-white-darker);
}
